.DateContainer {
  padding: 0 20px;

  border: 1px solid white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #61876e;
  color: white;
  border-radius: 12px;
}

h2 {
  margin: 0;
  font-size: large;
}

.day {
  font-size: xx-large;
}

.month {
  font-size: x-large;
}
