.Expenses{
    background-color: rgb(39, 37, 37);
    width: 45%;
  margin: auto;
  border-radius: 12px;
  display: flex;
  flex-flow: column wrap;
  margin-top: 50px;
    
    
}

p {

  color: white;
  text-align: center;
  font-size: x-large;
}