.DateContainer {
  padding: 0 20px;

  border: 1px solid white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #3c6255;
  color: white;
  border-radius: 12px;
  min-width: 10rem;
  max-width: 15rem;
}

h2 {
  margin: 0;
  font-size: large;
}
