.fcontainer{
  
    background-color: #40005d;
  
    bottom: 0%;
    width: 100%;
    height: 50px;
    margin-bottom: 0%;
    position: fixed;
}

p{
    text-align: center;
    color:#f8dfff;
    /* margin-bottom: 20px; */
    font-weight: bold;
    font-size:small;
    padding-bottom: 40px;

}