.FormContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.FormContainer input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #e8f3d6;
  width: 20rem;
  max-width: 100%;
}
.newexpense__control label {
  /* font-weight: bold; */
  margin-bottom: 0.5rem;
  display: block;
  color: white;
}

.newexpense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #e8f3d6;
  width: 20rem;
  max-width: 100%;
}

.newexpense__action {
  width: 22rem;
  /* text-align: right; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.messages {
  color: #fafafa;
}
.newexpense__action button:disabled {
  cursor: not-allowed;
  background-color: rgb(219, 209, 209);
  color: white;

  border-color: rgb(219, 209, 209);
}
/* .newexpense__action button:hover {
} */
